<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapImagePicker 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SnapImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D88300781D06C72600399612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D883008C1D06C72600399612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88300971D06C72600399612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89D6FE51D06CC06007DD132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89D6FEE1D06CC06007DD132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
